{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'employee/style.css' %}">
{% if employees %}
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Poste</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.first_name }}</td>
            <td>{{ employee.last_name }}</td>
            <td>{{ employee.function }}</td>
            <td><a href="{% url 'employeedetails' employee.id %}">Details</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No employees are available.</p>
{% endif %}